/github_tokens.txt
venv/
C:\Users\y_oota\Documents\secretary_app\secretary_app\services\client_secret.json
C:\Users\y_oota\Documents\secretary_app\secretary_app\token.json
C:\Users\y_oota\Documents\secretary_app\secretary_app\.env
secretary_app/.env
