{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="auth-header">
  <a href="{{ url_for('main') }}" class="link-btn">メインに戻る</a>
</div>

<h2>ログイン</h2>

<form method="post" action="/login">
  <label>メールアドレス</label>
  <input type="email" name="email" required>

  <label>パスワード</label>
  <input type="password" name="password" required>

  <button type="submit">ログイン</button>
</form>

{% if error %}
  <p class="error-msg">{{ error }}</p>
{% endif %}

<div class="auth-links">
  <a href="{{ url_for('register') }}" class="link-text">新規登録はこちら</a>
</div>
{% endblock %}
